.card {
  margin: 10%;
  padding: 1%;
}
img {
  width: 10%;
  height: auto;
}
.carousel-caption {
  margin-bottom: 5%;
}
.carousel-caption > h5 {
  color: black;
  font-size: 50px;
}

.carousel-caption > p {
  color: black;
  font-family: cursive;
  font-size: 25px
}


#paragraph {
  font-family: cursive;
}

#mynames {
  font-family: cursive;
  color: blue;
}
.name-overlay {
  position: absolute;
  z-index: 2;
  margin-right: 5%;
  margin-left: 75%;
  margin-top: 5%;
}
.contact1 {
  font-family: cursive;
}
