.card {
  margin: 10%;
  padding: 1%;
}
img {
  width: 10%;
  height: auto;
}
.carousel-caption {
  margin-bottom: 5%;
}
.carousel-caption > h5 {
  color: black;
  font-size: 50px;
}

.carousel-caption > p {
  color: black;
}


#paragraph {
  font-family: cursive;
}

#
